{% extends 'wed_site/index.html' %} {% block title %}
<div class="about">
    <h1>Контакты</h1>
</div>

{% endblock title %} {% block gallery %} {% endblock gallery %} {% block content %}

<div class="contacts">
    <p>По всем интересующим Вас вопросам всегда буду рад ответить:</p>
    <p><a href="tel:+79">+7__________</a></p>
    <p>&nbsp;(WhatsApp, Viber, Telegram)</p>
    <p><a href="https://vk.com" target="_blank">Страница Вконтакте </a></p>
    <p><a href="https://vk.com" target="_blank">Моя группа ВК</a></p>
    <p><a href="https://www.instagram.com" target="_blank">Инстаграм</a></p>
    <p><a href="https://t.me" target="_blank">Телеграм</a></p>
</div>

{% endblock content%}
